<a href="https://colab.research.google.com/github/NityaVerma19/Customer-Purchase-Decision-/blob/master/Consumer_behaviour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np
import random

#Generating a dataset

### Product Info

In [30]:
#Green Packaging - yes/no

def generate_random_series(words, length, seed = 42):
    random.seed(seed)
    series = [random.choice(words) for _ in range(length)]
    return series

word_list = ['Yes', 'No']
series_length = 50

green_pack = generate_random_series(word_list, series_length, seed = 42)
print("Randomly generated series:", green_pack)

Randomly generated series: ['Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes', 'Yes']

In [38]:
#purchase decision - yes/no

def generate_random_series(length, seed = 42):
    random.seed(seed)
    return [random.choice([0, 1]) for _ in range(length)]

length = 50
purchase = generate_random_series(length, seed = 42)
print(purchase)

[0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0]

In [31]:
#type of product - 'Beverage', 'Food' , 'Beauty', 'Personal hygiene', 'Paper products' , 'Clothing'


def generate_random_series(words, length, seed = 42):
    random.seed(seed)
    series = [random.choice(words) for _ in range(length)]
    return series

word_list = ['Beverage', 'Food' , 'Beauty', 'Personal hygiene', 'Paper products' , 'Clothing']
series_length = 50

product = generate_random_series(word_list, series_length, seed = 42)
print("Randomly generated series:", product)

Randomly generated series: ['Clothing', 'Beverage', 'Beverage', 'Clothing', 'Beauty', 'Food', 'Food', 'Food', 'Clothing', 'Beverage', 'Clothing', 'Clothing', 'Paper products', 'Beverage', 'Paper products', 'Personal hygiene', 'Beverage', 'Beverage', 'Beverage', 'Food', 'Food', 'Paper products', 'Paper products', 'Beverage', 'Paper products', 'Food', 'Clothing', 'Clothing', 'Clothing', 'Paper products', 'Personal hygiene', 'Food', 'Personal hygiene', 'Paper products', 'Beauty', 'Beverage', 'Food', 'Clothing', 'Personal hygiene', 'Beauty', 'Beauty', 'Food', 'Food', 'Beauty', 'Beverage', 'Beverage', 'Personal hygiene', 'Beverage', 'Beauty', 'Beauty']

In [32]:
#Price
def generate_random_series(lower_bound, upper_bound, count, seed = 42):
    random.seed(seed)
    random_numbers = np.random.randint(lower_bound, upper_bound + 1, count)
    return pd.Series(random_numbers)


lower_bound = 500
upper_bound = 5000
count = 50  # Number of random numbers to generate
price = generate_random_series(lower_bound, upper_bound, count, seed = 42)
print("Random series:")
print(price)

Random series:
0     1528
1     4177
2     2408
3     3443
4     4926
5     3200
6     1889
7     1182
8     1907
9     1064
10    4891
11    4436
12     668
13    1362
14    2930
15     629
16    1002
17    4556
18    1514
19    1875
20    1694
21    1247
22    4497
23    2616
24    1417
25     990
26    1382
27     899
28    3532
29    4600
30    3303
31    1305
32    4590
33    4716
34    4740
35    4570
36    1026
37    2964
38    2764
39    3745
40    3794
41    2346
42    3130
43    3138
44    2012
45    4231
46    4157
47    4087
48    2431
49    2902
dtype: int64

### Customer Info

In [33]:
#Age

def generate_random_series(lower_bound, upper_bound, count, seed = 42):
    random.seed(seed)
    random_numbers = np.random.randint(lower_bound, upper_bound + 1, count)
    return pd.Series(random_numbers)


lower_bound = 18
upper_bound = 50
count = 50  # Number of random numbers to generate
age = generate_random_series(lower_bound, upper_bound, count, seed = 42)
print("Random series:")
print(age)

Random series:
0     28
1     49
2     42
3     35
4     19
5     37
6     41
7     18
8     20
9     42
10    33
11    38
12    25
13    37
14    23
15    24
16    36
17    24
18    38
19    40
20    38
21    35
22    39
23    30
24    32
25    22
26    32
27    48
28    50
29    34
30    34
31    48
32    34
33    20
34    28
35    33
36    19
37    50
38    28
39    26
40    43
41    25
42    24
43    31
44    24
45    27
46    38
47    21
48    46
49    49
dtype: int64

In [34]:
#Gender


def generate_random_series(words, length, seed = 42):
    random.seed(seed)
    series = [random.choice(words) for _ in range(length)]
    return series

word_list = ['M', 'F']
series_length = 50

gender = generate_random_series(word_list, series_length, seed = 42)
print("Randomly generated series:", gender)

Randomly generated series: ['M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'F', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'F', 'M', 'M', 'M']

In [35]:
#Income level - 15k to 150k

def generate_random_series(lower_bound, upper_bound, count, seed = 42):
    random.seed(seed)
    random_numbers = np.random.randint(lower_bound, upper_bound + 1, count)
    return pd.Series(random_numbers)


lower_bound = 15000
upper_bound = 150000
count = 50  # Number of random numbers to generate
income = generate_random_series(lower_bound, upper_bound, count, seed = 42)
print("Random series:")
print(income)

Random series:
0      27470
1      63850
2      33912
3      30918
4      15281
5      85686
6     128515
7      42433
8      59711
9     106005
10     96225
11    137176
12     24775
13    122867
14    134941
15    137988
16     78583
17     28535
18     42288
19     89028
20     86079
21     88431
22     83925
23    111450
24     34658
25     25273
26    120541
27    134138
28    135945
29     47088
30     21546
31    106144
32     59770
33     97512
34     22015
35     60647
36     78947
37    118859
38    136720
39    102583
40    121039
41    118307
42    120004
43    148474
44     77054
45     37744
46     78555
47     32672
48     36147
49     61248
dtype: int64

*Merging the series*

In [40]:
df = pd.DataFrame({'product': product, 'price': price, 'green_pack': green_pack, 'age': age,'gender': gender, 'income': income, 'purchase': purchase })
df

             product  price green_pack  age gender  income  purchase
0           Clothing   1528        Yes   28      M   27470         0
1           Beverage   4177        Yes   49      M   63850         0
2           Beverage   2408         No   42      F   33912         1
3           Clothing   3443        Yes   35      M   30918         0
4             Beauty   4926        Yes   19      M   15281         0
5               Food   3200        Yes   37      M   85686         0
6               Food   1889        Yes   41      M  128515         0
7               Food   1182        Yes   18      M   42433         0
8           Clothing   1907         No   20      F   59711         1
9           Beverage   1064        Yes   42      M  106005         0
10          Clothing   4891        Yes   33      M   96225         0
11          Clothing   4436        Yes   38      M  137176         0
12    Paper products    668        Yes   25      M   24775         0
13          Beverage   1362        Yes   37      M  122867         0
14    Paper products   2930        Yes   23      M  134941         0
15  Personal hygiene    629        Yes   24      M  137988         0
16          Beverage   1002         No   36      F   78583         1
17          Beverage   4556        Yes   24      M   28535         0
18          Beverage   1514         No   38      F   42288         1
19              Food   1875         No   40      F   89028         1
20              Food   1694        Yes   38      M   86079         0
21    Paper products   1247        Yes   35      M   88431         0
22    Paper products   4497         No   39      F   83925         1
23          Beverage   2616         No   30      F  111450         1
24    Paper products   1417         No   32      F   34658         1
25              Food    990        Yes   22      M   25273         0
26          Clothing   1382        Yes   32      M  120541         0
27          Clothing    899         No   48      F  134138         1
28          Clothing   3532        Yes   50      M  135945         0
29    Paper products   4600        Yes   34      M   47088         0
30  Personal hygiene   3303         No   34      F   21546         1
31              Food   1305        Yes   48      M  106144         0
32  Personal hygiene   4590         No   34      F   59770         1
33    Paper products   4716         No   20      F   97512         1
34            Beauty   4740         No   28      F   22015         1
35          Beverage   4570        Yes   33      M   60647         0
36              Food   1026         No   19      F   78947         1
37          Clothing   2964        Yes   50      M  118859         0
38  Personal hygiene   2764         No   28      F  136720         1
39            Beauty   3745        Yes   26      M  102583         0
40            Beauty   3794         No   43      F  121039         1
41              Food   2346         No   25      F  118307         1
42              Food   3130        Yes   24      M  120004         0
43            Beauty   3138        Yes   31      M  148474         0
44          Beverage   2012        Yes   24      M   77054         0
45          Beverage   4231        Yes   27      M   37744         0
46  Personal hygiene   4157         No   38      F   78555         1
47          Beverage   4087        Yes   21      M   32672         0
48            Beauty   2431        Yes   46      M   36147         0
49            Beauty   2902        Yes   49      M   61248         0

In [42]:
# Downloading the dataframe

df.to_csv('df.csv', index=False)